<div class="flex flex-row flex-wrap items-center justify-center m-8 h-full">

  <button mat-icon-button (click)="back()" *ngIf="showBackArrow">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="text-7xl m-12">{{title}}</h1>

  <div class="items-center justify-center flex h-full flex-wrap m-8">

    <div class="flex m-4" *ngFor="let item of collection; let i = index">
      <mat-card class="p-6 min-w-fit">
        <mat-card-header>
          <mat-card-title class="text-3xl">{{item.name}}</mat-card-title>
        </mat-card-header>
        <img class="section-card-img" [src]="item.image">
        <mat-card-content>
          <p class="my-8 text-base flex justify-center">{{item.description}}</p>
        </mat-card-content>
        <mat-card-footer class="flex flex-col">
          <button mat-raised-button class="min-w-fit m-4 p-4" [disabled]="false"
            [routerLink]="[item.route]">Start</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
